[submodule "rules"]
	path = rules
	url = ../capa-rules.git
[submodule "tests/data"]
	path = tests/data
	url = ../capa-testfiles.git
[submodule "tests/data/dotnet/dnfile-testfiles"]
	path = tests/data/dotnet
	url = https://github.com/malwarefrank/dnfile-testfiles.git
